{{ form_start(form) }}
<div class="theme-light card">
    <h5 class="card-title theme-d2">{{app.user.userName}} {{ alert.isAnonym ? '(Votre nom n\'apparaitra pas car vous avez choisit l\'anonymat)' }}</h5>
    <p class="card-text text-theme">
        {{ form_label(form.content,'') }}
        {{ form_row(form.content,{"attr":{'class':'form-control'}})}}
    </p>
    <button class="btn theme-action">{{ button_label|default('Envoyer') }}</button>
</div>
{{ form_end(form) }}
