{{ form_start(form) }}
<div class="card col-8 offset-4">
    <h5 class="card-title">{{app.user.userName}}</h5>
    <p class="card-text">
        {{ form_label(form.content,'') }}
        {{ form_row(form.content,{"attr":{'class':'form-control'}})}}
    </p>
    <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
</div>
{{ form_end(form) }}
