{% extends 'base.html.twig' %}

{% block title %}PrivateMessage index
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Messages privés de {{ app.user.userName }}</h1>
    {% if private_messages %}
    
        {% for private_message in private_messages %}
            <div class="card col-8 {% if private_message.user.userName == app.user.userName %} offset-4 {% endif %}">
                <h5 class="card-title">{{private_message.user.userName}}</h5>
                <p class="card-text">{{private_message.content}}
                </p>
                <div class="card-footer">{{ private_message.date ? private_message.date|date('Y-m-d H:i:s') : '' }}</div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Auncun message.</h2>
    {% endif %}

{# <a href="{{ path('private_message_new') }}">Create new</a> #}
    </div>
{% endblock %}
