{% extends 'base.html.twig' %}

{% block title %}PrivateMessage{% endblock %}

{% block body %}
    <h1>PrivateMessage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ private_message.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ private_message.date ? private_message.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ private_message.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('private_message_index') }}">back to list</a>

    <a href="{{ path('private_message_edit', {'id': private_message.id}) }}">edit</a>

    {{ include('private_message/_delete_form.html.twig') }}
{% endblock %}
