{% extends 'base.html.twig' %}

{% block title %}ClassLevel index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Liste des rangs de classes</h1>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for class_level in class_levels %}
                    <tr>
                        <td>{{ class_level.id }}</td>
                        <td>{{ class_level.name }}</td>
                        <td>
                            <a href="{{ path('class_level_show', {'id': class_level.id}) }}"><button class="btn btn-primary">Afficher</button></a>
                            <a href="{{ path('class_level_edit', {'id': class_level.id}) }}"><button class="btn btn-success">Editer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('class_level_new') }}"><button class="btn btn-success">Ajouter un rang de classe</button></a>
        </div>
    </div>
</div>
{% endblock %}
