<div class="row">
    {% for alert in alerts %}
        {{ include('profil/alertcard.html.twig') }}
    {% endfor %}
</div>
<br>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <a href="{{path('alert_index')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Consulter les signalements</button></a>
            </div>
            <div class="col-md-6">
                <a href="{{path('alerthistory')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Historique</button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <a href="{{path('user_new')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Inscrire un membre</button></a>
            </div>
            <div class="col-md-6">
                <a href="{{path('dashboard')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Consulter les stats</button></a>
            </div>
        </div>
    </div>
</div>
<br>