<div class="row">
    {% for alert in alerts %}
        {{ include('profil/alertcard.html.twig') }}
    {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        Pour consulter la liste des cas signalés par les élèves, c'est ici :
    </div>
</div>
<div class="row">
    <div class="col-12"><br></div>
    <div class="col-3">
        <a href="{{path('alert_index')}}"><button class="btn theme-action">Consulter les signalements</button></a>
    </div>
    <div class="col-3 text-center">
        <a href="{{path('alerthistory')}}"><button class="btn theme-action">Historique</button></a>
    </div>
    <div class="col-3 text-center">
        <a href="{{path('user_new')}}"><button class="btn theme-action">Inscrire un membre</button></a>
    </div>
    <div class="col-3 text-right">
        <a href="{{path('dashboard')}}"><button class="btn theme-action">Consulter les stats</button></a>
    </div>
</div>
<br>