{% extends 'base.html.twig' %}

{% block title %}Profil de {{app.user.userName}}{% endblock %}

{% block body %}
    <div class="container theme-container">
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-theme">Bienvenue sur votre espace personnel, {{ utilisateur.userName }}</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-theme">
                        {% if utilisateur.role.name == "ROLE_ELEVE" %}
                            Alerte(s) postée(s) en cours: <strong>{{ alerts|length }}</strong>
                        {% else %}
                            Alerte(s) prise(s) en charge: <strong>{{ alerts|length }}</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {# DIV ADMIN #}
        {% if utilisateur.role.name == "ROLE_ADMIN" %}
            {{ include('profil/admin.html.twig') }}
        {% endif %}
        {# DIV SECRETARIAT #}
        {% if utilisateur.role.name == "ROLE_SECRETARIAT" %}
            {{ include('profil/secretariat.html.twig') }}
        {% endif %}
        {# DIV PROF #}
        {% if utilisateur.role.name == "ROLE_PROFESSEUR" %}
            {{ include('profil/professeur.html.twig') }}
        {% endif %}
        {# DIV ELEVE #}
        {% if utilisateur.role.name == "ROLE_ELEVE" %}
            {{ include('profil/eleve.html.twig') }}
        {% endif %}
        {# <div class="row">
            <div class="col-12 text-right">
                <a href="{{path('connection')}}"><button class="btn btn-danger">Se deconnecter</button></a>
            </div>
        </div> #}
        <br>
    </div>
{% endblock %}
