{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/monstyle.css')}}">
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Bienvenue sur votre espace personnel, {{ utilisateur.userName }}</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-3">{{ utilisateur.lastName }}</div>
                    <div class="col-3">{{ utilisateur.firstName }}</div>
                    <div class="col-3">vous êtes {{ utilisateur.role.name }}</div>
                    <div class="col-3 text-right">
                        <a href="{{path('infospersos')}}"><button class="btn btn-secondary">Mes infos persos</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {# DIV ADMIN #}
        {% if utilisateur.role.name == "ROLE_ADMIN" %}
            {{ include('profil/admin.html.twig') }}
        {% endif %}
        {# DIV SECRETARIAT #}
        {% if utilisateur.role.name == "ROLE_SECRETARIAT" %}
            {{ include('profil/secretariat.html.twig') }}
        {% endif %}
        {# DIV PROF #}
        {% if utilisateur.role.name == "ROLE_PROFESSEUR" %}
            {{ include('profil/professeur.html.twig') }}
        {% endif %}
        {# DIV ELEVE #}
        {% if utilisateur.role.name == "ROLE_ELEVE" %}
            {{ include('profil/eleve.html.twig') }}
        {% endif %}
        {# <div class="row">
            <div class="col-12 text-right">
                <a href="{{path('connection')}}"><button class="btn btn-danger">Se deconnecter</button></a>
            </div>
        </div> #}
    </div>
{% endblock %}
