{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe
{% endblock %}

{% block body %}

    <div class="container theme-container">
        <br>
        <div class="row">
            <div class="col-12">
                <h1 class="text-theme">Changer votre mot de passe:</h1>
            </div>
        </div>
        <br>
        <div class="row text-theme">
            <div class="col-12">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col-6">
                        <label for="" class="control-label ">Modifier le mot de passe de :</label>
                        <input type="text" disabled value={{user.userName}} class="form-control"></input>
                    </div>
                    <div class="col-6">
                        {{ form_row(form.password,{'label':'Ancien mot de passe :', 'attr':{'class':'form-control control-label'}}) }}
                    </div>
                </div>
                <div class="form-row ">
                    <div class="col-6">
                        {{ form_row(form.newpassword.first,{'label':'Nouveau mot de passe :', 'attr':{'class':'form-control control-label'}}) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.newpassword.second,{'label':'Confirmer le nouveau mot de passe :', 'attr':{'class':'form-control control-label'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col-6">
                <button class="btn theme-action">{{ button_label|default('Enregistrer') }}</button>
            </div>
            <div class="col-6">
                <a href="{{ path('profil_index') }}" class="btn theme-action">Retour au profil</a>
            </div>
        </div>
            {{ form_end(form) }}
    </div>
{% endblock %}
