{% extends 'base.html.twig' %}

{% block title %}Gestion des types d'alerte{% endblock %}

{% block body %}
<div class="container theme-container text-theme">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Gestion des types d'alerte</h1>
            <br>
        </div>
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead class="theme-d3">
                    <tr>
                        <th>Type d'alerte</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for alert_style in alert_styles %}
                    <tr>
                        <td>{{ alert_style.name }}</td>
                        <td>
                            <a href="{{ path('alert_style_show', {'id': alert_style.id}) }}" class="btn theme-action">Afficher</a>
                            <a href="{{ path('alert_style_edit', {'id': alert_style.id}) }}" class="btn theme-action">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-left">
            <a href="{{ path('profil_index') }}"><button class="btn theme-action">retour au profil</button></a>
        </div>
        <div class="col-6 text-right">
            <a href="{{ path('alert_style_new') }}" class="btn theme-action">Ajouter un type d'alerte</a>
        </div>
    </div>
    <br>
</div>
{% endblock %}
