{% extends 'base.html.twig' %}

{% block title %}Type d'alerte{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Type d'alerte</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ alert_style.id }}</td>
                    </tr>
                    <tr>
                        <th>Type d'alerte</th>
                        <td>{{ alert_style.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <a href="{{ path('alert_style_edit', {'id': alert_style.id}) }}"><button class="btn btn-success">Editer</button></a>
        </div>
        <div class="col-12"><hr></div>
        <div class="col-6">
            <a href="{{ path('alert_style_index') }}"><button class="btn btn-primary">retour aux types d'alerte</button></a>
        </div>
        <div class="col-6 text-right">
            {{ include('alert_style/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
