<div class="login-box fixed-height">
    {{ form_start(form) }}
    <div class="form-group">

        <div class="form-group">
            {{form_row(form.eventDate, {'label':'Date de l\'événement :', 'attr':{'class':'form-control control-label js-datepicker', 'autofocus':'true'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.eventTime, {'label':'Heure de l\'événement :', 'attr':{'class':'form-control control-label'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.content, {'label':'Contenu :', 'attr':{'class':'form-control control-label', 'placeholder':'Faite votre signalement'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.ipAddress, {'label':'Adresse Ip :', 'attr':{'class':'form-control control-label'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.alertSender, {'label':'Signalement utilisateur :', 'attr':{'class':'form-control control-label'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.location, {'label':'Lieu de l\'événement :', 'attr':{'class':'form-control control-label'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.status, {'label':'Votre statut :', 'attr':{'class':'form-control control-label'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.alertStyle, {'label':'Type de l\'agression :', 'attr':{'class':'form-control control-label'}})}}
        </div>
        <div class="form-group btn-container">
            <button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"></script>
    <script>
        $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
    </script>
{% endblock %}
