{% extends 'base.html.twig' %}

{% block title %}Liste des signalements
{% endblock %}

{% block body %}
<div class="container theme-container">
    <div class="row p-4">
        <div class="col-12">
            <h1 class="text-theme">Liste des signalements :</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-theme">
            Alerte(s) postée(s) en attente: <strong>{{ alerts|length }}</strong>
        </div>
    </div>
    <br>
    <div class="row">
        {% for alert in alerts %}

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-3 overflow-hidden" style="border:2px solid #187f93;height:30rem;background-color:#d1f1f8;">
                <div class="card-header theme-d3">
                    Date du signalement :
                    {{ alert.alertDate ? alert.alertDate|date('d-m-Y H:i') : '' }}
                </div>
                <div class="card-body h-25" style="border-bottom:1px solid lightgrey;min-height:25px">
                    <h5 class="card-title">Type de harcelement :</h5>
                    <p>
                        {% for type in alert.alertStyle %}
                        {{ type.name }}
                        {% endfor %}
                    </p>
                </div>
                <div class="card-body h-25" style="border-bottom:1px solid lightgrey;min-height:25px">
                    <h5 class="card-title">Dates des événements :</h5>
                    <p>
                        {{ alert.eventDate ? alert.eventDate|date('d-m-Y') : '' }}
                        {{ alert.eventTime ? alert.eventTime|date('H:i') : '' }}
                    </p>
                </div>
                <div class="card-body h-25" style="border-bottom:1px solid lightgrey;min-height:25px">
                    <h5 class="card-title">Lieu des faits :</h5>
                    <p>{{ alert.location.name|length > 35 ? alert.location.name|slice(0,35) ~ '...' : alert.location.name }}</p>
                </div>
                <div class="card-body">
                    <a href="{{ path('alert_show', {'id': alert.id}) }}" class="btn theme-action w-75">Afficher détails</a>
                </div>

            </div>
        </div>{% else %}
        <p colspan="8">Aucun enregistrement trouvé</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('profil_index') }}"><button class="btn theme-action mb-4">retour au profil</button></a>
        </div>
    </div>
    {# {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-12 mb-3">
            <a href="{{ path('alert_new') }}">
                <button class="btn theme-action">Ajouter une alerte</button>
            </a>
        </div>
    </div>
    {% endif %} #}
    <br>
</div>
{% endblock %}