{% extends 'base.html.twig' %}


{% block title %}
    Signalement{{ alert.isAnonym ? 'Anonyme' : 'de ' ~ alert.alertSender.firstName  ~ ' ' ~  alert.alertSender.lastName }}
{% endblock %}

{% block body %}
    <div class="container theme-container">
        <h1 class="text-theme pt-4">Signalement</h1>
        <div class="card my-5 theme-d2 overflow-hidden" style="width: 100%;border:2px solid #187f93;">
            <div class="card-header">Type(s) de Harcelement(s) :
                <h5 class="card-title">
                    {% for type in alert.alertStyle %}
                        {{  type.name  }}
                    {% endfor %}
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row justify-content-around theme-light">
                    <span>
                        Utilisateur :
                        {{ alert.isAnonym ? 'Anonyme' : alert.alertSender.firstName  ~ ' ' ~  alert.alertSender.lastName }}</span>
                    <span>Role :
                        {{ alert.status.name }}</span>
                </li>
                <li class="list-group-item d-flex flex-row justify-content-around theme-light">
                    <span>Date du signalement :
                        {{ alert.alertDate ?  alert.alertDate|date('d/m/Y H:i:s') : '' }}</span>
                    <span>Date des faits :
                        {{ alert.eventDate ? alert.eventDate|date('d/m/Y') : '' }}
                        {{ alert.eventTime ? alert.eventTime|date('H:i:s') : '' }}</span>
                </li>
                <div class="card-body theme-light">
                    <h5 class="card-title ">Description :</h5>
                    <p class="card-text">{{ alert.content }}</p>
                </div>
                {% if is_granted('ROLE_PROFESSEUR') %}
                    {% if alert.alertManager %}
                        <li class="list-group-item theme-light">Pris en charge par :
                            {{ alert.alertManager.firstName ~' '~ alert.alertManager.lastName ?? '' }}</li>
                        <li class="list-group-item theme-light">Début de prise en charge :
                            {{ alert.startSupportDate ? alert.startSupportDate|date('d/m/Y à H:i:s') : '' }}</li>
                        {% if alert.endSupportDate is null %}
                            <a href="{{ path('alert_close',{'id':alert.id}) }}" class="btn btn-danger p-2">
                                Fin de prise en charge
                            </a>
                        {% else %}
                            <li class="list-group-item theme-light">Fin de prise en charge :
                                {{ alert.endSupportDate ? alert.endSupportDate|date('d/m/Y à H:i:s') : '' }}</li>
                        {% endif %}
                    {% endif %}

                {% endif %}
            </ul>
        </div>

        {% include "private_message/index.html.twig" %}

        <div class="d-flex flex-row justify-content-between">
            {% if is_granted('ROLE_PROFESSEUR') %}
                <a href="{{ path('alert_index') }}" class="btn  theme-action mb-5">
                    Retour aux alertes
                </a>
                <a href="{{ path('profil_index') }}" class="btn theme-action mb-5">
                    Retour au profil
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}
