{% extends 'base.html.twig' %}

{% block title %}Alert
{% endblock %}

{% block body %}
    <div class="container p-5">
        <h1>Signalement</h1>
        <div class="card my-5" style="width: 100%;">
            <div class="card-header">Type(s) de Harcelement(s) :
                <h5 class="card-title">
                    {% for type in alert.alertStyle %}
                        {{  type.name  }}
                    {% endfor %}
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row justify-content-around">
                    <span>
                        Utilisateur :
                        {{ alert.alertSender.firstName  ~ ' ' ~  alert.alertSender.lastName  }}</span>
                    <span>Role :
                        {{ alert.status.name }}</span>
                </li>
                <li class="list-group-item d-flex flex-row justify-content-around">
                    <span>Date du signalement :
                        {{ alert.alertDate ?  alert.alertDate|date('d/m/Y H:i:s') : ''  }}</span>
                    <span>Date des faits :
                        {{ alert.eventDate ? alert.eventDate|date('d/m/Y H:i:s') : ''  }}</span>
                </li>
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">{{ alert.content }}</p>
                </div>
                {% if is_granted('ROLE_PROFESSEUR') %}

                    {% if alert.alertManager is  null %}
                        <a href="{{ path('alert_manage',{'id':alert.id}) }}" class="btn btn-primary">
                            Prendre en charge
                        </a>
                    {% else %}
                        <li class="list-group-item">Pris en charge par :
                            {{ alert.alertManager.userName ?? '' }}</li>
                        <li class="list-group-item">Début de prise en charge :
                            {{ alert.startSupportDate ? alert.startSupportDate|date('d/m/Y à H:i:s') : ''  }}</li>
                        <li class="list-group-item">Fin de prise en charge :
                            {{ alert.endSupportDate ? alert.endSupportDate|date('d/m/Y à H:i:s') : ''  }}</li>
                        {% if alert.endSupportDate is null %}
                            <a href="{{ path('alert_close',{'id':alert.id}) }}" class="btn btn-danger">
                                Fin de prise en charge
                            </a>
                        {% endif %}
                    {% endif %}

                {% endif %}
            </ul>
        </div>
        <div class="d-flex flex-row justify-content-between mb-5">
            {% if is_granted('ROLE_PROFESSEUR') %}
                <div class="justify-content-between">
                    <a href="{{ path('alert_index') }}" class="btn btn-primary">
                        Retour aux alertes
                    </a>
                </div>
            {% endif %}
            <div class="justify-content-between">
                <a href="{{ path('profil_index') }}" class="btn btn-primary">
                    Retour au profil
                </a>
            </div>
            
            {# <div class="justify-content-between">
                {{ include('alert/_delete_form.html.twig') }}
            </div> #}
        </div>
        {% include "private_message/index.html.twig" %}
    </div>
{% endblock %}
