{% extends 'base.html.twig' %}

{% block title %}StopHarcelement
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="col-12 mb-4">
            <h1 class="text-theme">Témoin ou victime, ne restez pas silencieux</h1>
        </div>
        <div class="row">
            <div class="col-12 text-center text-theme">
                <h4 style="color: #115b69; font-style: italic;">"Le harcèlement est un enchaînement d'agissements hostiles répétés visant à
                    <br>
                    affaiblir psychologiquement la personne qui en est la victime."</h4>
                <br>
                <div class="row mx-auto">
                    <div class="col-2"></div>
                    <div class="col-8">
                        {% if app.user is null %}
                            <a href="{{ path ("app_login")}}" class="btn theme-action mx-auto">Connexion</a>
                        {% else %}
                            {% if app.user.role.name == "ROLE_ELEVE" %}
                                <a href="{{path('alert_new')}}" class="btn theme-action col-sm m-2" style="max-width:180px">Signaler un harcelement</a>
                                <a href="{{path('profil_index')}}" class="btn theme-action col-sm m-2" style="max-width:180px">Acceder à mon compte</a>
                                <a href="{{path('alerthistory')}}" class="btn theme-action col-sm m-2" style="max-width:180px">Acceder à mes alertes traitées</a>
                            {% endif %}
                            {% if app.user.role.name == "ROLE_PROFESSEUR" or app.user.role.name == "ROLE_ADMIN" %}
                                <a href="{{path('alert_index')}}" class="btn theme-action col-sm m-2" style="max-width:180px">Consulter les signalements</a>
                                <a href="{{path('profil_index')}}" class="btn theme-action col-sm m-2" style="max-width:180px">Acceder à mon compte</a>
                                <a href="{{path('alerthistory')}}" class="btn theme-action col-sm m-2" style="max-width:180px">Acceder à mes alertes traitées</a>
                            {% endif %}
                            {% if app.user.role.name == "ROLE_SECRETARIAT" %}
                                <a href="{{path('user_new')}}" class="btn theme-action mx-auto">Inscrire un élève</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container theme-container py-4">
        <div class="row">
            <div class="col-12">
                <h1 class="text-theme">Pourquoi utiliser StopHarcelement ?</h1>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-12 text-theme" style="font-size: 1.8em">
                <p>La confidentialité est le mot clé de notre application, permettant aux victimes de s'ouvrir sincèrement, sans risque de représailles.</p>
                <p>Consultez facilement les statistiques de votre établissement afin de mettre en place une stratégie adaptée au(x) problème(s).</p>
                <p>Avec notre interface numérique, accédez facilement à nos différentes fonctionnalités.</p>
                <p>Accèdez aux nouveaux rapports et à vos discussions privées en quelques clics.</p>
            </div>
        </div>
        <div class="row text-theme" style="background-color: #d1f1f8;">
            <div class="col-12">
                <h4>Vous souhaitez nous contacter ?</h4>
                <p>Un problème, une remarque, une proposition, des questions ?
                    <br><strong style="color: #115b69; font-size: 2.2em;">03 20 00 00 00</strong>
                    <br>Ce numéro est disponible du lundi au vendredi de 9h à 20h et le samedi de 9h à 18h (sauf les jours fériés).</p>
            </div>
        </div>
    </div>
{% endblock %}
