{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-12 text-center">
            {{ form_row(form.name, {'label':'Nom de la classe :', 'attr':{'class':'form-control control-label', 'autofocus':'true'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            {{ form_row(form.classLevel) }}
        </div>
        <div class="col-6 text-center">
            {{ form_row(form.userManager) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn theme-action">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}
