{% extends 'base.html.twig' %}

{% block title %}Gestion des classes{% endblock %}

{% block body %}
<div class="container theme-container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-theme">Gestion des classes</h1>
            <br>
        </div>
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead class="theme-d3">
                    <tr>
                        <th>Niveau scolaire</th>
                        <th>Nom</th>
                        <th>Professeur principal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for class_name in class_names %}
                    <tr>
                        <td>{{ class_name.classLevel.name }}</td>
                        <td>{{ class_name.name }}</td>
                        <td>
                        {% if class_name.userManager.sex.name == 'Masculin' %}
                            Mr 
                        {% endif %}
                        {% if class_name.userManager.sex.name == 'Feminin' %}
                            Mme 
                        {% endif %}
                        {{ class_name.userManager.lastName }} {{ class_name.userManager.firstName }}</td>
                        <td>
                            <a href="{{ path('class_name_show', {'id': class_name.id}) }}" class="btn theme-action">Afficher</a>
                            <a href="{{ path('class_name_edit', {'id': class_name.id}) }}" class="btn theme-action">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('class_name_new') }}" class="btn theme-action">Ajouter une classe</a>
        </div>
    </div>
</div>
{% endblock %}
