{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Classe</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ class_name.id }}</td>
                    </tr>
                    <tr>
                        <th>Niveau scolaire</th>
                        <td>{{ class_name.classLevel.name }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ class_name.name }}</td>
                    </tr>
                    <tr>
                        <th>Professeur principale</th>
                        <td>
                        {% if class_name.userManager.sex.name == 'Masculin' %}
                            Mr 
                        {% endif %}
                        {% if class_name.userManager.sex.name == 'Feminin' %}
                            Mme 
                        {% endif %}
                        {{ class_name.userManager.lastName }} {{ class_name.userManager.firstName }}
                        </td>
                    </tr>
                    <tr>
                        <th>Eleves</th>
                        <td>
                            {% for eleve in class_name.userStudent %}
                                {{ eleve.lastname }} {{ eleve.firstName }}, 
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <a href="{{ path('class_name_edit', {'id': class_name.id}) }}"><button class="btn btn-success">Editer</button></a>
        </div>
        <div class="col-12"><hr></div>
        <div class="col-6">
            <a href="{{ path('class_name_index') }}"><button class="btn btn-primary">retour aux classes</button></a>
        </div>
        <div class="col-6 text-right">
            {{ include('class_name/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
