{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
<div class="container theme-container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-theme">Classe</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="theme-d2">Niveau scolaire</th>
                        <td>{{ class_name.classLevel.name }}</td>
                    </tr>
                    <tr>
                        <th class="theme-d2">Nom</th>
                        <td>{{ class_name.name }}</td>
                    </tr>
                    <tr>
                        <th class="theme-d2">Professeur principale</th>
                        <td>
                        {% if class_name.userManager.sex.name == 'Masculin' %}
                            Mr 
                        {% endif %}
                        {% if class_name.userManager.sex.name == 'Feminin' %}
                            Mme 
                        {% endif %}
                        {{ class_name.userManager.lastName }} {{ class_name.userManager.firstName }}
                        </td>
                    </tr>
                    <tr>
                        <th class="theme-d2">Eleves</th>
                        <td>
                            {% for eleve in class_name.userStudent %}
                                {{ eleve.lastname }} {{ eleve.firstName }}, 
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <a href="{{ path('class_name_edit', {'id': class_name.id}) }}" class="btn theme-action">Editer</a>
        </div>
        <div class="col-12"><hr></div>
        <div class="col-6 text-left mb-5">
            <a href="{{ path('class_name_index') }}" class="btn theme-action">retour aux classes</a>
        </div>
        <div class="col-6 text-right mb-5">
            {{ include('class_name/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
