{{ form_start(form) }}
<div class="row">
    <div class="col-12 text-center">
        <h4>INFOS PERSOS:</h4>
    </div>
    <div class="col-6">
        {{ form_row(form.lastName, {'label':'Nom :', 'attr':{'class':'form-control control-label', 'autofocus':'true'}}) }}
    </div>
    <div class="col-6">
        {{ form_row(form.firstName, {'label':'Prenom :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-4">
        {{ form_row(form.birthDate, {'label':'Date de naissance :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
    <div class="col-4">
        {{ form_row(form.phone, {'label':'Numéro de téléphone :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
    <div class="col-4">
        {{ form_row(form.sex, {'label':'Sexe :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_row(form.address, {'label':'Adresse :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_row(form.email, {'label':'Email :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
</div>
<br><hr>
<div class="row">
    <div class="col-12 text-center">
        <h4>IDENTIFIANTS:</h4>
    </div>
    <div class="col-6">
        {{ form_row(form.userName, {'label':'Pseudo :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
    <div class="col-6">
        {{ form_row(form.plainPassword, {'label':'Password :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
</div>
<br><hr>
<div class="row">
    <div class="col-6">
        {{ form_row(form.role, {'label':'Role :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
    <div class="col-6">
        {{ form_row(form.studentClassName, {'label':'Classe fréquentée :', 'attr':{'class':'form-control control-label'}}) }}
    </div>
</div>
<br><hr>
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
